# API Configuration
API_BASE_PATH=https://your-api-endpoint.com/embed
JWT_PRIVATE_KEY='-----BEGIN RSA PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END RSA PRIVATE KEY-----\n'
PARTNER_ID=your-partner-id-here
